@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Satisfy);
@import url(https://fonts.googleapis.com/css?family=Nobile:400,700);
@import url(https://fonts.googleapis.com/css?family=Leckerli+One);
@import url(https://fonts.googleapis.com/css?family=Archivo+Black);
@font-face {
  font-family: 'Couture';
  src: url("../fonts/couture.otf"); }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }
  h1 span, h2 span, h3 span, h4 span, h5 span {
    font-size: .7em;
    opacity: .7; }

h1 {
  font-size: 650%; }

h2 {
  font-size: 400%; }

h3 {
  font-size: 250%; }

h4 {
  font-size: 200%; }

h5 {
  font-size: 120%; }

html {
  font-size: 100%; }

p {
  margin: 0;
  padding: 0; }

html, body {
  font-family: "Lato", Calibri, Arial, sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

body {
  position: relative;
  overflow: hidden; }

button {
  border: none;
  margin: 0;
  outline: 0;
  outline-style: none;
  outline-width: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }

button:hover {
  opacity: 1; }

img,
embed,
object,
video {
  max-width: 100%; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  margin: 0;
  padding: 0; }

.color-orange-348 {
  color: #ddb348; }

.color-white {
  color: white; }

.color-grey-100 {
  color: #cccccc; }

.color-red {
  color: #cd3c3c; }

.color-blue-ligth {
  color: #2bb5f2; }

.color-blue {
  color: #0eb7f0; }

.color-blue-2 {
  color: #0ca1d3; }

.color-green {
  color: #00b760; }

.color-purple {
  color: #840070; }

.back-white {
  background: white; }

.back-green {
  background: #00b760; }

.back-red {
  background: #cd3c3c; }

.back-orange {
  background: #ddb348; }

.back-blue {
  background: #0eb7f0; }

.back-purple {
  background: #840070; }

.container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
          perspective: 1200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: #ddb348; }

.font {
  display: inline-block;
  font-weight: 400; }

.font-bold {
  font-weight: 700 !important; }

.font-nobile {
  font-family: "Nobile", sans-serif; }

.font-lato {
  font-family: "Lato", Calibri, Arial, sans-serif; }

.font-lekerli {
  font-family: "Leckerli One", cursive; }

.font-archivo {
  font-family: "Archivo Black", sans-serif; }

.tx-sd-100 {
  -webkit-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.tx-sd-200 {
  -webkit-text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.bx-sd-100 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.bx-sd-200 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shopping-list {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #282828;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
      transform: translateX(100%);
  width: 50%;
  z-index: 9999; }
  .shopping-list header {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2em 1.5em; }
    .shopping-list header ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-left: 1em; }
      .shopping-list header ul li:not(:last-child) {
        padding-right: 1em; }
  .shopping-list footer {
    color: white;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    padding: .5em;
    padding-bottom: 1em; }
    .shopping-list footer #fo-icon {
      margin-left: .5em;
      margin-right: .5em;
      -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out; }
      .shopping-list footer #fo-icon :hover {
        background: #cd3c3c !important; }
    .shopping-list footer #fo-desc {
      -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out; }
    .shopping-list footer #fo-icon:hover {
      cursor: pointer;
      -webkit-transform: translateX(10px) scale(1.3);
          -ms-transform: translateX(10px) scale(1.3);
              transform: translateX(10px) scale(1.3); }
      .shopping-list footer #fo-icon:hover + #fo-desc {
        color: red !important;
        -webkit-transform: translateX(-10px) scale(0.7);
            -ms-transform: translateX(-10px) scale(0.7);
                transform: translateX(-10px) scale(0.7); }
    .shopping-list footer #fo-desc:hover {
      cursor: pointer; }

.items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-center: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  height: 90%;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 300px); }

.item-remove {
  display: none !important; }

.shopping-items {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0.5em 1.5em;
  overflow: auto; }
  .shopping-items li {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5em 1.5em;
    text-align: center;
    width: 220px; }
    .shopping-items li .icon-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out; }
      .shopping-items li .icon-item .icon-item-dlt {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 50%;
        -webkit-transform: translateY(16px);
            -ms-transform: translateY(16px);
                transform: translateY(16px);
        -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out; }
      .shopping-items li .icon-item .icon-item-dlt:hover {
        -webkit-transform: scale(1.5) translateY(8px);
            -ms-transform: scale(1.5) translateY(8px);
                transform: scale(1.5) translateY(8px); }
    .shopping-items li .icon-item:hover {
      cursor: pointer;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .shopping-items li .item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: .5em; }
    .shopping-items li .data-item {
      height: 60px; }
    .shopping-items li .item-add {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      height: 50px; }
      .shopping-items li .item-add input {
        margin-right: .3em;
        margin-left: .3em;
        color: #474747;
        cursor: pointer; }
      .shopping-items li .item-add input:hover, .shopping-items li .item-add :focus, .shopping-items li .item-add :active {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      .shopping-items li .item-add .fa {
        cursor: pointer; }
      .shopping-items li .item-add .fa:hover {
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.cat-list {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  left: 0;
  padding-left: 5%;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  width: 300px;
  z-index: 1; }
  .cat-list i {
    margin-right: .5em; }
  .cat-list li {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: .3em;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
    -webkit-transform: translateX(-150%);
        -ms-transform: translateX(-150%);
            transform: translateX(-150%); }
  .cat-list h4 {
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out; }
  .cat-list li:hover > i {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .cat-list li:hover > h4 {
    -webkit-transform: translateX(0.5em);
        -ms-transform: translateX(0.5em);
            transform: translateX(0.5em); }

.cat-list-show li {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%); }

.show-right {
  display: auto;
  -webkit-animation: showRight 0.6s ease both;
          animation: showRight 0.6s ease both; }

.hide-right {
  display: auto;
  -webkit-animation: hideRight 0.6s ease both;
          animation: hideRight 0.6s ease both; }

.header-principal {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  width: 90%;
  top: 0;
  z-index: 10; }
  .header-principal .pg-menu-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-principal .pg-menu-header li {
      display: inline-block;
      padding-left: 1em;
      cursor: pointer; }

.ico-home {
  cursor: pointer; }

.search-section {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }
  .search-section .search {
    color: #840070;
    font-size: .8em;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 0.9em;
    margin-left: 1em;
    opacity: .2;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
    width: 10%; }
  .search-section .fa-search {
    cursor: pointer;
    opacity: .5;
    -webkit-transform: translateX(-220%);
        -ms-transform: translateX(-220%);
            transform: translateX(-220%); }
  .search-section .search:hover, .search-section :focus, .search-section :active {
    opacity: 1;
    width: 25%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .search-section .search:hover + .fa-search, .search-section :focus + .fa-search, .search-section :active + .fa-search {
      opacity: 1;
      color: #840070; }

.login {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  padding-top: 2em;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  top: 0;
  width: 90%;
  z-index: 8; }
  .login .login-text {
    width: 160px;
    text-align: right; }
  .login .form-login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2%; }
    .login .form-login .form-input {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      text-align: right;
      margin-bottom: .5em; }
      .login .form-login .form-input .input-label {
        padding-right: .5em;
        width: 80px;
        color: white;
        font-weight: bold; }
      .login .form-login .form-input input {
        color: #840070;
        font-size: .8em;
        width: 165px;
        border-radius: 4px;
        padding: 0.5em 1em;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.show-login {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%); }

.margin-left {
  border-left: 2px solid #840070;
  margin-left: 1em; }

.hide-login {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

.footer-principal {
  height: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1e1e1e;
  bottom: 0;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  width: 100%;
  z-index: 999; }
  .footer-principal .mbx-info {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: .5em;
    width: 90%; }
    .footer-principal .mbx-info :not(:last-child) {
      margin-right: 1em; }
  .footer-principal .my-info {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .footer-principal .my-info .foto {
      margin-right: 1em; }

.show-contato {
  height: 150px; }

.hide-contato {
  height: 80px; }

.fa {
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }

.fa-ico-1 {
  padding: .3em;
  border-radius: 50%; }

.font-bold {
  font-weight: bold; }

.font-50 {
  font-size: .8em; }

.font-100 {
  font-size: 1.1em; }

.font-200 {
  font-size: 1.2em; }

.font-300 {
  font-size: 1.3em; }

.btn {
  padding: 0.5em 1em;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  opacity: .8;
  border-radius: 5%; }

.btn-menu-1 {
  background: white; }

.btn-menu-2 {
  background: rgba(255, 255, 255, 0.2); }

input,
input:hover,
input:focus,
input:active {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  -webkit-outline: 0;
  outline: 0;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }

.input-c-50 {
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center; }

.p-content {
  margin-top: 50px;
  height: 18%;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .p-content .p-animated {
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
    -webkit-animation: pMoveUp 12s infinite;
    animation: pMoveUp 12s infinite;
    -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
            transform: translateY(200%); }
  .p-content .p-animated-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  .p-content .p-animated-2 {
    -webkit-animation-delay: 4s;
    animation-delay: 4s; }
  .p-content .p-animated-3 {
    -webkit-animation-delay: 8s;
    animation-delay: 8s; }

@-webkit-keyframes pMoveUp {
  0% {
    -webkit-transform: translateY(200%);
    transform: translateY(200%); }
  5%, 30% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  35% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%); }
  100% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%); } }

@keyframes pMoveUp {
  0% {
    -webkit-transform: translateY(200%);
    transform: translateY(200%); }
  5%, 30% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  35% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%); }
  100% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%); } }

.pg-page {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow: hidden;
  visibility: hidden;
  width: 100%; }
  .pg-page footer {
    margin-bottom: 75px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: .5em;
    text-align: center;
    width: 100%; }
    .pg-page footer .fa {
      -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out; }
    .pg-page footer #fo-desc {
      font-weight: bold;
      left: 0;
      margin: 10;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      right: 0;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out; }
    .pg-page footer .fa:hover {
      cursor: pointer;
      -webkit-transform: translateY(-11px) scale(0.7);
          -ms-transform: translateY(-11px) scale(0.7);
              transform: translateY(-11px) scale(0.7); }
      .pg-page footer .fa:hover + #fo-desc {
        cursor: pointer;
        -webkit-transform: translateY(-25px);
            -ms-transform: translateY(-25px);
                transform: translateY(-25px); }

.pg-page-1 {
  background-image: url("../images/ibuy/wall13jpg.jpg");
  background-size: 100%; }

.pg-page-2 {
  background: #cd3c3c; }

.pg-page-3 {
  background: #0ca1d3; }

.pg-page-4 {
  background: #ddb348; }

.pg-page-5 {
  background: #008445; }

.font-scale-200 {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2); }

.pg-page .article-body {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
  position: relative;
  width: 90%; }

.principal-body {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
  position: relative;
  width: 75%;
  -webkit-animation-delay: .5s;
  -webkit-animation: showInit 0.6s ease both;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation: showInit 0.6s ease both;
          animation: showInit 0.6s ease both; }

.pg-page-current {
  visibility: visible;
  z-index: 1; }

/*ANIMATION*/
.pg-page-moveToTop {
  -webkit-animation: moveToTop 0.6s ease both;
  animation: moveToTop 0.6s ease both; }

.pg-page-moveFromBottom {
  -webkit-animation: moveFromBottom 0.6s ease both;
  animation: moveFromBottom 0.6s ease both; }

.pg-page-moveToBottom {
  -webkit-animation: moveToBottom 0.6s ease both;
  animation: moveToBottom 0.6s ease both; }

.pg-page-moveFromTop {
  -webkit-animation: moveFromTop 0.6s ease both;
  animation: moveFromTop 0.6s ease both; }

.pg-page-scale-up {
  -webkit-animation: scaleUp 0.7s ease both;
  animation: scaleUp 0.7s ease both; }

.pg-page-on-top {
  z-index: 999; }

.ico-scale-up {
  -webkit-animation: scaleIcoUp 0.7s ease both;
  animation: scaleIcoUp 0.7s ease both; }

/*KEYFRAMES*/
@-webkit-keyframes showInit {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@keyframes showInit {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@-webkit-keyframes moveToTop {
  from { }
  to {
    -webkit-transform: translateY(-100%); } }

@keyframes moveToTop {
  from { }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%); } }

@keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@-webkit-keyframes moveToBottom {
  from { }
  to {
    -webkit-transform: translateY(100%); } }

@keyframes moveToBottom {
  from { }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%); } }

@keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

@-webkit-keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8); } }

@keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

@-webkit-keyframes showRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes showRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes hideRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

@keyframes hideRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

@-webkit-keyframes scaleIcoUp {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scaleIcoUp {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*MEDIA*/
@media only screen and (min-width: 320px) and (max-width: 667px) {
  h1 {
    font-size: 180%;
    text-align: center; }
  h2 {
    font-size: 130%;
    text-align: center; }
  h3 {
    font-size: 100%;
    text-align: center; }
  .mbx-icon, .mbx-icon {
    width: 50px; }
  .pg-page-header {
    height: 50px; } }

@media only screen and (min-width: 667px) and (max-width: 1024px) {
  h1 {
    font-size: 180%;
    text-align: center; }
  h2 {
    font-size: 130%;
    text-align: center; }
  h3 {
    font-size: 100%;
    text-align: center; }
  .mbx-icon, .mbx-icon {
    width: 50px; }
  .pg-page-header {
    height: 50px; }
}