<!doctype html>
<html class="no-js" lang="" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>blue</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="scripts/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    
  </head>
  <body ng-controller="appCtrl">
    <header id="header-principal" class="header-principal">
    <img id="home" class="ico-home" src="images/ibuy/logo-ibuy-white.png" alt="" width="80px">
      <div class="search-section">
        
        <input type="text" class="search font-50" placeholder="search">
        <i class="fa fa-search"></i>
      </div>
      <ul class="pg-menu-header">
        <li><p id="hd-pre" class="font-100 font-bold tx-sd-100">R$ {{totalPagar}}</p></li>
        <li><i id="hd-icon" class="fa fa-shopping-cart fa-2x tx-sd-100"></i></li>
        <li>
          <button id="btn-comprar" class="btn btn-menu-1">Fazer compras</button>
        </li>
        <li>
          <button id="login" class="btn btn-menu-2 color-white">Meu carrinho</button>
        </li>
      </ul>
    </header>
    <div id="login-content" class="login tx-sd-100">
      <div class="login-text font-bold font-100">Ja é cliente do iBuy? Faça o login:</div>
      <div class="form-login form-horizontal">
        <div class="form-input">
          <div class="input-label">
            <label for="user">Email: </label>
          </div>
          <input type="text" id="user" placeholder="email@email.com">
        </div>
        <div class="form-input">
          <div class="input-label">
            <label for="user">Senha: </label>
          </div>
          <input type="password" placeholder="senha">
        </div>
        <div class="form-input">
          <button class="btn color-white back-purple bx-sd-100">Entrar</button>
        </div>
      </div>
       <div class="login-text font-bold font-100 margin-left">Quer ser cliente de iBuy? Cadastre-se agora</div>
       <div class="login-text font-bold font-100"><button class="btn color-white back-purple bx-sd-100">Cadastrar-se</button></div>
    </div>
    <div id="shopping-list" class="shopping-list">
      <header>
        <h3>Carrinho de compras</h3><br>
        <ul>
          <li><i class="fa fa-leaf fa-2x color-white back-green fa-ico-1"></i></li>
          <li><i class="fa fa-shopping-cart fa-2x color-white back-orange fa-ico-1"></i></li>
          <li><i class="fa fa-hand-peace-o fa-2x color-white back-red fa-ico-1"></i></li>
        </ul>
      </header>
      <ul class="shopping-items" ng-show="arrayCompras.length > 0">
        <li ng-repeat="itemC in arrayCompras">
          <div class="item data-item font-bold">
            <span class="price-item font-200">Por: {{itemC.price}} </span>
            <span class="desc-item font-50">{{itemC.description}}</span>
          </div>
          <span class="icon-item bx-sd-100 back-white">
            <img src="{{itemC.image}}" alt="" width="80%">
          </span>
          <div class="item-add font-bold">
            <span class="quanti-item font-100">Qtd: </span><input type="text" class="input-c-50" maxlength="2" ng-model="itemC.amount" ng-change="updateTotal()">
            <i class="fa fa-minus-circle fa-2x color-red" ng-click="removeItem(itemC,$index)"></i>
          </div>
          <span class="font-50">Sub total: R$ {{itemC.amount * itemC.price}}</span>
        </li>
      </ul>
      <div class="shopping-items-null" ng-show="arrayCompras.length == 0">
        <img src="images/ibuy/ibuy-poster-450-wb.png" alt="">
      </div>
      <footer>
        <i id="fo-icon" class="fa fa-money fa-2x fa-ico-1 back-blue  color-white"></i>
        <div id="fo-desc">
          <h5 class="color-blue">Finalizar compra</h5>
          <h4 class="font-bold color-blue-2">Total: R$ {{totalPagar}}</h4>
        </div>
      </footer>
    </div>
    <div id="cat-list" class="cat-list">
      <ul id="cat-list-items" class="cat-list-items">
        <li id="cat-item cat-item-1"><i class="fa fa-shopping-cart fa-2x fa-ico-1 back-red"></i><h4>Alimentos básicos</h4></li>
        <li id="cat-item cat-item-2"><i class="fa fa-shopping-cart fa-2x fa-ico-1 back-blue"></i><h4>Congelados</h4></h4></li>
        <li id="cat-item cat-item-3"><i class="fa fa-shopping-cart fa-2x fa-ico-1 back-orange"></i><h4>Bebidas</h4></li>
        <li id="cat-item cat-item-4"><i class="fa fa-shopping-cart fa-2x fa-ico-1 back-green"></i><h4>Orgánicos</h4></li>
        <li id="cat-item cat-item-5">
      </ul>
    </div>
    <footer id="footer-contato" class="footer-principal">
      <div class="mbx-info">
        <a href="https://twitter.com/xorroz003"><i class="fa fa-twitter-square fa-1x color-blue-ligth"> twitter</i></a>
        <a href="https://pe.linkedin.com/in/kfloresticona/en"><i class="fa fa-linkedin-square fa-1x color-white"> Linkedin</i></a>
        <a href="https://github.com/KelvinAFT"><i class="fa fa-github-square fa-1x color-red"> Github</i></a>
        <a href="" id="contato"><i class="fa fa-phone-square fa-1x color-green"> Contato</i></a>
      </div>
      <div class="my-info">
        <img class="foto" src="images/ibuy/logo-ibuy-orange.png" alt="" width="40px">
        <div class="contato-info">
          <p class="font-50 font-bold">Telefone: +55 (11) 940665445</p>
          <p class="font-50 font-bold">Email: kflores.0025@gmail.com</p>
        </div>
      </div>
    </footer>
    <div id="container" class="container">
      <article id="principal" class="pg-page pg-page-1">
        <div class="principal-body tx-sd-200">
          <img src="images/ibuy/ibuy-poster-450.png" alt="">
          <div class="p-content">
            <h2 class="p-animated p-animated-1">Você pode comprar <br>quando e onde quizer</h2><br>
            <h2 class="p-animated p-animated-2">É muito maís facil</h2>
            <h2 class="p-animated p-animated-3">Só tem que fazer click <br>em comprar <i class="fa fa-cart-arrow-down"></i></h2>
          </div>
        </div>
        <footer>
          <i id="icon-comprar" class="fa fa-cart-arrow-down fa-2x fa-ico-1 back-purple color-white"></i>
          <span id="fo-desc"><h5>Comprar</h5></span>
        </footer>
      </article>
      <article id="princiapl-2" class="pg-page pg-page-2">
        <div class="article-body">
          <div class="items">
            <ul class="shopping-items">
              <li ng-repeat="item in arrayItems" ng-show="{{item.tipo==0}}">
                <div class="item data-item font-bold">
                  <span class="price-item font-200">Por: {{item.price}} </span>
                  <span class="desc-item font-50">{{item.description}}</span>
                </div>
                <span class="icon-item bx-sd-100 back-white">
                  <img src="{{item.image}}" alt="" width="80%">
                </span>
                <div class="item-add font-bold">
                  <span class="quanti-item font-100">Qtd: </span><input type="text" class="input-c-50" maxlength="2" ng-model="amount">
                  <i class="fa fa-cart-plus fa-2x color-white" ng-click="addItem(item,amount)"></i>
                </div>
              </li>
            </ul>  
          </div>
        </div>
      </article>
      <article id="principal-3" class="pg-page pg-page-3">
        <div class="article-body">
          <div class="items">
            <ul class="shopping-items">
              <li ng-repeat="item in arrayItems" ng-show="{{item.tipo==1}}">
                <div class="item data-item font-bold">
                  <span class="price-item font-200">Por: {{item.price}} </span>
                  <span class="desc-item font-50">{{item.description}}</span>
                </div>
                <span class="icon-item bx-sd-100 back-white">
                  <img src="{{item.image}}" alt="" width="80%">
                </span>
                <div class="item-add font-bold">
                  <span class="quanti-item font-100">Qtd: </span><input type="text" class="input-c-50" maxlength="2" ng-model="amount">
                  <i class="fa fa-cart-plus fa-2x color-white" ng-click="addItem(item,amount)"></i>
                </div>
              </li>
            </ul>  
          </div>
        </div>
      </article>
      <article id="principal-4" class="pg-page pg-page-4">
        <div class="article-body">
          <div class="items">
            <ul class="shopping-items">
              <li ng-repeat="item in arrayItems" ng-show="{{item.tipo==2}}">
                <div class="item data-item font-bold">
                  <span class="price-item font-200">Por: {{item.price}} </span>
                  <span class="desc-item font-50">{{item.description}}</span>
                </div>
                <span class="icon-item bx-sd-100 back-white">
                  <img src="{{item.image}}" alt="" width="80%">
                </span>
                <div class="item-add font-bold">
                  <span class="quanti-item font-100">Qtd: </span><input type="text" class="input-c-50" maxlength="2" ng-model="amount">
                  <i class="fa fa-cart-plus fa-2x color-white" ng-click="addItem(item,amount)"></i>
                </div>
              </li>
            </ul>  
          </div>
        </div>
      </article>
      <article id="principal-5" class="pg-page pg-page-5">
        <div class="article-body">
          <div class="items">
            <ul class="shopping-items">
              <li ng-repeat="item in arrayItems" ng-show="{{item.tipo==3}}">
                <div class="item data-item font-bold">
                  <span class="price-item font-200">Por: {{item.price}} </span>
                  <span class="desc-item font-50">{{item.description}}</span>
                </div>
                <span class="icon-item bx-sd-100 back-white">
                  <img src="{{item.image}}" alt="" width="80%">
                </span>
                <div class="item-add font-bold">
                  <span class="quanti-item font-100">Qtd: </span><input type="text" class="input-c-50" maxlength="2" ng-model="amount">
                  <i class="fa fa-cart-plus fa-2x color-white" ng-click="addItem(item,amount)"></i>
                </div>
              </li>
            </ul>  
          </div>
        </div>
      </article>
    </div>
    
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="scripts/jquery/dist/jquery.js"></script>
    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/angular-resource/angular-resource.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/pagetransitions.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

      
    </script>
  </body>
</html>
